/* ejercicio_clases_ids_css_starwars.css */
/* Clase para el imperio */
.imperio {
    background-color: red;
}

/* Clase para los rebeldes */
.rebeldes {
    background-color: blue;
}

/* ID para Darth Vader */
#darth-vader {
    font-size: 20px;
}

/* ID para Luke */
#luke {
    font-style: italic;
}

/* Clase para los soldados */
.soldados {
    border: 3px double black;
    letter-spacing: 3px;
}

/* Clase para las unidades de apoyo */
.apoyo {
    text-align: center;
}

/* Clase para las naves */
.naves {
    text-transform: uppercase;
}